# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcuserstate
*.xcuserdatad/
xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/
Packages/
Package.resolved

# CocoaPods (kullanılmıyor ama ihtimale karşı)
Pods/

# Firebase — GERÇEK ANAHTARLARI DEPOYA GÖNDERMEYİN
# Kendi projeniz özelse bu satırı kaldırabilirsiniz.
GoogleService-Info.plist

# Fastlane / diğer
fastlane/report.xml
fastlane/screenshots/
